In [11]:
import numpy as np
import pandas as pd

In [ ]:
alex = pd.read_csv("data/Alexander/Alexander_upto17.csv")
alex.rename(columns={"N/A_1": "knot_id"}, inplace=True)
alex

,knot_id,number_of_crossings,table_number,is_alternating,signature,minimum_exponent,maximum_exponent,A0,A1,A2,...,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,0,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,3,1,1,2,1,4,0,0,0,...,1,-1,1,0,0,0,0,0,0,0
2,1,4,1,1,0,-2,2,0,0,0,...,-1,3,-1,0,0,0,0,0,0,0
3,1,5,1,1,4,2,7,0,0,0,...,-1,1,-1,1,0,0,0,0,0,0
4,1,5,2,1,2,1,6,0,0,0,...,2,-3,2,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9755324,1,17,8053389,0,2,-3,12,0,0,0,...,549,-651,549,-324,128,-30,3,0,0,0
9755325,1,17,8053390,0,0,-6,9,0,0,1,...,-524,611,-524,332,-153,49,-10,1,0,0
9755326,1,17,8053391,0,6,3,18,0,0,0,...,583,-715,583,-307,94,-12,0,0,0,0
9755327,1,17,8053392,0,2,-4,11,0,0,-1,...,534,-613,534,-349,167,-55,11,-1,0,0
9755328,1,17,8053393,0,2,-4,11,0,0,-1,...,550,-631,550,-358,169,-55,11,-1,0,0

In [ ]:
alex.to_csv("data/Alexander/Alexander_upto17.csv", index=False)

In [ ]:
# jones = pd.read_csv('data/Jones/Jones_upto17_MIRRORS.csv')
jones.drop(columns=["representation"], inplace=True)
jones

,knot_id,number_of_crossings,table_number,is_alternating,signature,minimum_exponent,maximum_exponent,J-25,J-24,J-23,...,J16,J17,J18,J19,J20,J21,J22,J23,J24,J25
0,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0!,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,3,1,1,2,1,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1!,3,1,1,-2,-4,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,4,1,1,0,-2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19510653,9755326!,17,8053391,0,-6,-18,-3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19510654,9755327,17,8053392,0,2,-4,11,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19510655,9755327!,17,8053392,0,-2,-11,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19510656,9755328,17,8053393,0,2,-4,11,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19510657,9755328!,17,8053393,0,-2,-11,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
jones.to_csv("data/Jones/Jones_upto17_MIRRORS.csv", index=False)

In [6]:
jones.representation.value_counts()

representation
1    19510658
Name: count, dtype: int64

In [ ]:
homfly = pd.read_csv("data/HOMFLYPT/HomflyPt_upto15_MIRRORS.csv")
homfly

,knot_id,number_of_crossings,table_number,is_alternating,signature,s_invariant,a18_z0,a18_z2,a18_z4,a18_z6,...,a-16_z12,a-16_z14,a-18_z0,a-18_z2,a-18_z4,a-18_z6,a-18_z8,a-18_z10,a-18_z12,a-18_z14
0,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0!,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,3,1,1,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1!,3,1,1,-2,-2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,4,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626457,313228!,15,253291,0,-6,-8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626458,313229,15,253292,0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626459,313229!,15,253292,0,-2,-2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626460,313230,15,253293,0,4,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626461,313230!,15,253293,0,-4,-4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
khov = pd.read_pickle("data/Khovanov/even_KH.pkl")
khov

,knot_id,number_of_crossings,is_alternating,s_invariant,signature,F_q-35_t-13,F_q-33_t-13,F_q-33_t-12,F_q-31_t-13,F_q-31_t-12,...,T4_q-13_t-4,T4_q-11_t-4,T4_q11_t5,T4_q13_t5,T4_q15_t5,T4_q17_t5,T4_q21_t9,T4_q23_t9,T4_q25_t9,T4_q27_t9
0,00_1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,03_1,3,1,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,04_1,4,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,05_1,5,1,4,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,05_2,5,1,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9755324,17nh_6283381,17,0,-2,-2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9755325,17nh_6283382,17,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9755326,17nh_6283383,17,0,-6,-6,0,24,0,7,58,...,0,0,0,0,0,0,0,0,0,0
9755327,17nh_6283384,17,0,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9755328,17nh_6283385,17,0,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
(np.abs(khov.signature) == np.abs(alex.signature)).all()

np.True_

In [ ]:
alex.loc[:, "knot_id"] = khov.knot_id

/var/folders/5j/8vpn_8zx03n7djd29rxylw580000gn/T/ipykernel_61002/2013057233.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['00_1' '03_1' '04_1' ... '17nh_6283383' '17nh_6283384' '17nh_6283385']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  alex.loc[:, 'knot_id'] = khov.knot_id

In [18]:
alex

,knot_id,number_of_crossings,table_number,is_alternating,signature,minimum_exponent,maximum_exponent,A0,A1,A2,...,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,00_1,0,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,03_1,3,1,1,2,1,4,0,0,0,...,1,-1,1,0,0,0,0,0,0,0
2,04_1,4,1,1,0,-2,2,0,0,0,...,-1,3,-1,0,0,0,0,0,0,0
3,05_1,5,1,1,4,2,7,0,0,0,...,-1,1,-1,1,0,0,0,0,0,0
4,05_2,5,2,1,2,1,6,0,0,0,...,2,-3,2,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9755324,17nh_6283381,17,8053389,0,2,-3,12,0,0,0,...,549,-651,549,-324,128,-30,3,0,0,0
9755325,17nh_6283382,17,8053390,0,0,-6,9,0,0,1,...,-524,611,-524,332,-153,49,-10,1,0,0
9755326,17nh_6283383,17,8053391,0,6,3,18,0,0,0,...,583,-715,583,-307,94,-12,0,0,0,0
9755327,17nh_6283384,17,8053392,0,2,-4,11,0,0,-1,...,534,-613,534,-349,167,-55,11,-1,0,0
9755328,17nh_6283385,17,8053393,0,2,-4,11,0,0,-1,...,550,-631,550,-358,169,-55,11,-1,0,0

In [15]:
(np.abs(khov.signature) == np.abs(jones.iloc[::2].reset_index().signature)).all()

np.True_

In [ ]:
j_id = []
for id in khov.knot_id.tolist():
    j_id += [id, id + "!"]

jones.knot_id = j_id
jones

,knot_id,number_of_crossings,table_number,is_alternating,signature,minimum_exponent,maximum_exponent,J-25,J-24,J-23,...,J16,J17,J18,J19,J20,J21,J22,J23,J24,J25
0,00_1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00_1!,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03_1,3,1,1,2,1,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,03_1!,3,1,1,-2,-4,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,04_1,4,1,1,0,-2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19510653,17nh_6283383!,17,8053391,0,-6,-18,-3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19510654,17nh_6283384,17,8053392,0,2,-4,11,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19510655,17nh_6283384!,17,8053392,0,-2,-11,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19510656,17nh_6283385,17,8053393,0,2,-4,11,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19510657,17nh_6283385!,17,8053393,0,-2,-11,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
(
    np.abs(khov[khov.number_of_crossings <= 15].signature)
    == np.abs(homfly.iloc[::2].reset_index().signature)
).all()

In [20]:
homfly.knot_id = jones[jones.number_of_crossings <= 15].knot_id
homfly

,knot_id,number_of_crossings,table_number,is_alternating,signature,s_invariant,a18_z0,a18_z2,a18_z4,a18_z6,...,a-16_z12,a-16_z14,a-18_z0,a-18_z2,a-18_z4,a-18_z6,a-18_z8,a-18_z10,a-18_z12,a-18_z14
0,00_1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00_1!,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03_1,3,1,1,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,03_1!,3,1,1,-2,-2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,04_1,4,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626457,15n168028!,15,253291,0,-6,-8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626458,15n168029,15,253292,0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626459,15n168029!,15,253292,0,-2,-2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626460,15n168030,15,253293,0,4,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626461,15n168030!,15,253293,0,-4,-4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
homfly.to_csv("data/HOMFLYPT/HomflyPt_upto15_MIRRORS.csv", index=False)

In [ ]:
theta = pd.read_csv("data/Theta/theta_3_15.csv")
theta.index += 1
theta.loc[0] = 0
theta.sort_index(inplace=True)
theta

,T1-14_T2-14,T1-14_T2-13,T1-14_T2-12,T1-14_T2-11,T1-14_T2-10,T1-14_T2-9,T1-14_T2-8,T1-14_T2-7,T1-14_T2-6,T1-14_T2-5,...,T114_T25,T114_T26,T114_T27,T114_T28,T114_T29,T114_T210,T114_T211,T114_T212,T114_T213,T114_T214
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313226,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
313227,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
313228,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
313229,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
313230,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
homfly.columns

Index(['knot_id', 'number_of_crossings', 'table_number', 'is_alternating',
       'signature', 's_invariant', 'a18_z0', 'a18_z2', 'a18_z4', 'a18_z6',
       ...
       'a-16_z12', 'a-16_z14', 'a-18_z0', 'a-18_z2', 'a-18_z4', 'a-18_z6',
       'a-18_z8', 'a-18_z10', 'a-18_z12', 'a-18_z14'],
      dtype='object', length=158)

In [ ]:
theta = pd.concat(
    (
        homfly.iloc[::2].reset_index()[
            [
                "knot_id",
                "number_of_crossings",
                "table_number",
                "is_alternating",
                "signature",
                "s_invariant",
            ]
        ],
        theta,
    ),
    axis=1,
)

In [43]:
theta

,knot_id,number_of_crossings,table_number,is_alternating,signature,s_invariant,T1-14_T2-14,T1-14_T2-13,T1-14_T2-12,T1-14_T2-11,...,T114_T25,T114_T26,T114_T27,T114_T28,T114_T29,T114_T210,T114_T211,T114_T212,T114_T213,T114_T214
0,00_1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,03_1,3,1,1,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,04_1,4,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,05_1,5,1,1,4,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,05_2,5,2,1,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313226,15n168026,15,253289,0,4,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
313227,15n168027,15,253290,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
313228,15n168028,15,253291,0,6,8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
313229,15n168029,15,253292,0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
313230,15n168030,15,253293,0,4,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
theta.to_csv("data/Theta/theta_upto15.csv", index=False)